<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="finder-wrapper">
        <div class="finder">
            <div class="top_title">
                <h3>🔎 Find & Replace For Specific Pages.</h3>
            </div>
            <div class="search">
                <div class="inputFieldLarge">
                    <textarea name="" id="" cols="50" rows="3" placeholder="Search for..."></textarea>
                </div>
                <button>Search</button>
            </div>


            <div class="main_screen">
                <div class="pages">
                    <div class="empty nodisplay">
                        <h3>
                            Begin searching to <br>see matched pages here..
                        </h3>
                    </div>
                    <form class="page-list">
                        <ul>
                            <li>
                                <input type="checkbox" name="page" id="page">
                                <label htmlFor="page">page</label>

                            </li>

                        </ul>
                    </form>
                </div>
                <div class="sidebar">
                    <div class="messages">
                        <ul>
                            <li>
                                ⛔ Please backup your database first, I'm not responsible for data loss!
                            </li>
                        </ul>
                    </div>
                    <div class="page_prop_form">
                        <input type="text" placeholder="New title">
                        <input type="text" placeholder="New slug">
                    </div>
                    <div class="past_searches">
                        <h4>Past Searches</h4>
                        <ul>

                            <li>Sit amet rit dio</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="replace">
                <div class="inputFieldLarge">
                    <textarea cols="50" rows="3" placeholder="Search for..."></textarea>
                </div>
                <button>Replace</button>
            </div>

        </div>
    </div>

    <link rel="stylesheet" href="style.css">
</body>

</html>